{% extends 'base.html.twig' %}

{% block title %}Bookshell{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css')}}">
{% endblock %}

{% block body %}
    <div class="filter">
        <h3>Sort by :</h3>
        <select>
            <option value="date">Release date</option>
            <option value="author">Author</option>
            <option value="type">Type</option>
            <option value="lenght">Lenght</option>
        </select>
    </div>
    <article>
        <img class="cover" src="{{ asset('img/cover.png')}}" alt="Example book">
        <img class="cover" src="{{ asset('img/cover.png')}}" alt="Example book">
        <img class="cover" src="{{ asset('img/cover.png')}}" alt="Example book">
        <img class="cover" src="{{ asset('img/cover.png')}}" alt="Example book">
        <img class="cover" src="{{ asset('img/cover.png')}}" alt="Example book">
        <img class="cover" src="{{ asset('img/cover.png')}}" alt="Example book">
        <img class="cover" src="{{ asset('img/cover.png')}}" alt="Example book">
        <img class="cover" src="{{ asset('img/cover.png')}}" alt="Example book">
        <img class="cover" src="{{ asset('img/cover.png')}}" alt="Example book">
        <img class="cover" src="{{ asset('img/cover.png')}}" alt="Example book">
        <img class="cover" src="{{ asset('img/cover.png')}}" alt="Example book">
        <img class="cover" src="{{ asset('img/cover.png')}}" alt="Example book">
    </article>
{% endblock %}
