{% extends 'base.html.twig' %}

{% block title %}Bookshelf{% endblock %}

{% block body %}
    <div class="filter">
        <h3>Sort by :</h3>
        <select>
            <option value="date">Release date</option>
            <option value="author">Author</option>
            <option value="type">Type</option>
            <option value="length">Length</option>
        </select>
    </div>
    <article>
        {% for b in books %}
            <a href="{{ path('book') ~ '/' ~ b.getId() }}" class="book" id="book-{{ b.getId() }}">
                <img src="{{ asset(b.getCover())}}" alt="Book cover">
                <h4>{{ b.getTitle() }} ({{ b.getPublished().format('Y') }})</h4>
                <h5>{{ b.getAuthor() }}</h5>
            </a>
        {% endfor %}
    </article>
    {% if id != 0 %}
        <div id="pin">
            <div>
                <img src="{{ asset(book.getCover())}}" alt="Book cover">
                <h4>{{ book.getTitle() }} ({{ book.getPublished().format('Y') }})</h4>
                <h5>{{ book.getAuthor() }}</h5>
                <div>
                    <a href="{{ book.getPath() }}">Read</a>
                    <a href="{{ book.getPath() }}">Download</a>
                </div>
            </div>
            <p>{{ book.getSummary() }}</p>
            <a id="close" href="{{ path('default') }}">X</a>
        </div>
    {% endif %}

{% endblock %}
