<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ asset('img/logo-book.png')}}" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css')}}">
        {% block stylesheets %}{% endblock %}
    </head>
    <style>
        .settings {
            background-image: url('{{ asset('img/settings.png')}}');
        }
        .settings:hover {
            background-image: url('{{ asset('img/settings-hover.png')}}');
        }
        .logo-text {
            background-image: url('{{ asset('img/small-logo.png')}}');
        }
        .logo-text:hover {
            background-image: url('{{ asset('img/small-logo-hover.png')}}');
        }
        .logout {
            background-image: url('{{ asset('img/logout.png')}}');
        }
        .logout:hover {
            background-image: url('{{ asset('img/logout-hover.png')}}');
        }
    </style>
    <body>
        <div class="top-bar">
            <a href="{{ path('default') }}" class="logo-text"></a>
            <input type="text" placeholder="Search..." class="search-bar">
            <div id="auth">
                <a class="settings" href="{{ path('app_login') }}"></a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="logout" href="{{ path('app_logout') }}"></a>
                {% endif %}
            </div>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
